
body{
    font-family: Î¢ÈíÑÅºÚ;
}
h3{
        color: white;
}
#div{
     width: 700px;
     
     margin-top: 50px;
     margin-left: 300px;
     padding: 50px;
     background: #4095DB;

 }

 #div_third{
         background: white;
         height: 460px;
         padding: 10px;
 }
.div_trade{
       padding: 1.5px;
        width: 160px;
        float: left;

}
.div_er{

     border:solid  #4095DB;
     border-width: 50px;
     width: 700px;
     margin-top: 50px;
     margin-left: 300px;
     padding: 10px;
    
}
.btn {
        display: inline-block;
        zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
        *display: inline;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em; 
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.btn:hover {
       background: wheat;
}
.btn:active {
        position: relative;
        top: 1px;
        background: white;
        
}
